p.serif {
    font-family: "Times New Roman", Times, serif;
}

p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

.font {
    color: #FF0000 !important;
    size: 4 !important;
}

.mandatoryfont {
    color: #FF0000 !important;
    size: 4 !important;
}