/*hwyl...2016-07-13*/
*{
    margin: 0;
}
html, body {
    height: 100%;
    padding-right: 0 !important;/*atn*/
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 15px; /*atn .push must be the same height as .footer */ 
}
/*hwyl...2016-07-22*/
img.clickable{
  cursor: pointer;
  cursor: hand; 
}
/*font start*/
p.serif {
  font-family: "Times New Roman", Times, serif;
}

p.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.font {
  color: #FF0000 !important;
  size: 4 !important;
}

.mandatoryfont {
  color: #FF0000 !important;
  size: 4 !important;
}
/*font end*/
 #loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3b5998;/*#3498db; Blue */
  border-radius: 50%;
  display: block; 
  top: 40; 
  left: 48%; 
  width: 35px; 
  height: 35px;
  animation: spin 2s linear infinite;
}
/* End */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-old {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }    

  .validate {   
    color:#286090 !important;
    cursor:pointer;
    font-size: 160% !important;
    margin-top:3px;
  } 

  .validatefont {   
    color:#286090 !important;
    font-size: 160% !important;
    margin-top:3px;
  } 
  .form-group {
    margin-bottom: 8px !important;
  } 

.sorter{
    color : black;
    font-size:10px;
    text-align : right center; 
}

.sk-cube-grid {
    position: absolute;
    width: 70px;
    height: 70px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #3b5998;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    }
     
  }
  .card {
    background-color: #fff;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.card-container.card {
    max-width: 350px;
    max-height: 330px; 
    padding: 20px 20px 30px 20px;
}

#encash-align{
  margin-left: -14px;
}

.encash-legend{
  margin-top: 20px;
  color: #fff;
  background-color: #3b5998;
  border-color: #2e6da4;
  padding-left: 12px;
}
#numinput{
text-align: right !important;
}

.control-label{
    padding-top: 7px !important;
    }
    
/* inserted by Aye Chan Muyar. ordered by Ko Thura. 8/11/2017 */
/* Start */

 /*.pagination .page-item .page-link {
  padding: 3px 3px;
  font-size: 14px; 
}*/

/* #custom-label {
  font-size: 14px;
} */
.pagination .page-item .page-link {
  padding: 5px 5px;
  font-size: 12px;
}
.pagination .page-item .page-link1 {
  padding: 8px 5px;
  font-size: 12px;
}

.btn-primary {
  color: #fff;
  background-color: #3b5998!important;
  background-image: none!important;
}
.btn-primary.active, .btn-primary:active {
  background-color: #265a88!important;
  border-color: #245580!important;
  }

.btn-primary:focus, .btn-primary:hover {
  background-color: #265a88!important;
  background-position: 0 -15px!important;
  }
/*atn*/
  body {
    padding-top: 43px;
    padding-bottom: 30px;
    background-color: #f2f2f2 !important;
    /*font-family: 'Roboto', sans-serif !important;*/
  }
  
  input,textarea,td,select {
    font-family: Unicode !important;
  }

  label {
    font-weight: 700 !important;
    font-size: 12px !important;
    padding-top: 7px;
  }
  .input-sm{
    font-size: 12px !important;
  }
  /* button, div, input, select, td, textarea, tr
  {
    font-family: pyidaungsu!important;
  } */
  .cardview {
    background-color: #ffffff;
    padding: 8px 12px 5px 12px;
    margin: -8px auto;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
  }
  .list-height {
    min-height: 530px;
  }
  .pagerright {
    margin-top: -20px;
    float: right;
  }
/* End */
