/*hwyl...2016-07-13*/
*{
    margin: 0;
}
html, body {
    height: 100%;
    font-size:13px;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */ 
}
.sorter{
    color : black;
    font-size:10px;
    text-align : right center; 
}

