/*hwyl...2016-07-13*/

a.ex1:hover,
a.ex1:active {
    font-size: 110%;
}

.dropdown-menu {
    background-color: #3b5998;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: black;
    background-color: #efefef;
}

.dropdown-menu>li>a {
    color: white;
    text-decoration: none;
}

.nav>li>a:hover,
.nav>li>a:focus {
    color: white;
    text-decoration: none;
    background-color: #5872a7;
}

.nav>li>a {
    color: white;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: #286090;
}

a:focus,
a:hover {
    color: #ffffff;
    text-decoration: none;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    height: unset;
    padding: 10px 15px;
    font-size: 20px;
    color: white;
}

.navbar-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-toggle {
    margin-top: 0px;
    margin-bottom: 0px;
}
