.singleselectwrap {
white-space: nowrap;
width: 6em;
min-width: 150px;
max-width: 160px;
overflow: hidden;
text-overflow: ellipsis;
border: 0px solid #000000;
}

#button{
text-align: left;
position: relative;
white-space: nowrap;
width: 6em;
min-width: 165px;
max-width: 165px;
overflow: hidden;
text-align: left;
text-overflow: ellipsis;
border: 0px solid #000000;
display: block;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}

/*
.caret{
  width:0px;
  height:0px;
  vertical-align: middle;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-bottom: 0 dotted;
  border-left: 4px solid transparent;
  float: right; 
  content: ""; 
  position:absolute;
  right:0;
  top:45%;
}
*/
.caret {
  position: absolute;
  right: 4%;
  top: 45%;
  border-top: 6px solid #555;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}








