.singleselectwrap {
white-space: nowrap;
width: 6em;
min-width: 240px;
max-width: 240px;
overflow: hidden;
text-overflow: ellipsis;
border: 0px solid #000000;
}

#button{
white-space: nowrap;
width: 6em;
min-width: 262px;
max-width: 262px;
overflow: hidden;
text-align: left;
text-overflow: ellipsis;
border: 0px solid #000000;
display: block;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.caret {
  position: absolute;
  right: 2%;
  top: 45%;
  border-top: 6px solid #555;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}


