input {
    font: 12px Arial, sans-serif;
    border: 1px solid #666;
}

a:hover {
    cursor: pointer;
}

.dbox {
    border: 1px solid black !important;
    margin-bottom: 8px;
}

.dbox .title {
    height: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #3b5998;
    color: white;
    line-height: 2;
}

.dbox .body {
    width: 98%;
    height: 280px;
}

/*Popup Menu*/

#snackbar {
    visibility: hidden;
    min-width: 250px;
    width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 40px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-wrap: break-word;
    border-top-width: 5px;
    margin-top: 5px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 30px;
        opacity: 0;
    }
    to {
        top: 40px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 30px;
        opacity: 0;
    }
    to {
        top: 40px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 40px;
        opacity: 1;
    }
    to {
        top: 30px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 40px;
        opacity: 1;
    }
    to {
        top: 30px;
        opacity: 0;
    }
}

#snackbar.msg-danger {
    background-color: #e44c5b;
}

#snackbar.msg-info {
    background-color: #269abc;
}

#snackbar.msg-success {
    background-color: #3b5998;
}

#snackbar.msg-warning {
    background-color: #ec971f;
}

.file {
    visibility: hidden;
    position: absolute;
}

#custom-form-alignment-margin {
    margin-left: -30px;
}

.mydp {
    width: 100% !important;
}
.viewform img{
    width: 300px;
    height: 300px;
}

/*Popup Menu*/

#snackbar1 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 40px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#snackbar1.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar1.msg-danger {
    background-color: #e44c5b;
}

#snackbar1.msg-info {
    background-color: #269abc;
}

#snackbar1.msg-success {
    background-color: #3b5998;
}

#snackbar1.msg-warning {
    background-color: #ec971f;
}

.textwrap {
    vertical-align: top;
    white-space: nowrap;
    width: 6em;
    min-width: 100px;
    max-width: 150px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0px solid #000000;
}

.right {
    text-align: right !important;
}

.center {
    text-align: center !important;
}

.left {
    text-align: left !important;
}

.tblborder {
    font-size: 13px !important;
}

.tblborder th {
    border: 2px solid #fff;
    border-left: none;
    background-color: #3b5998;
    white-space: nowrap;
    font-weight: bold;
    color: white;
    text-align: left;
}

.customclass {
    background-color: #fff;
}

/*atn*/

/* content-img */

#img_container {
    position: relative;
    display: inline;
    border: 1px solid #ededed;
}

.button_over_img {
    position: absolute;
    bottom: -90px;
    right: 10px;
    opacity: 0.65;
}

/* Start CSS for hamburger menu */
.checkbox-container {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    position: relative;
    /*margin-right: 27px;
    margin-top: 3px;*/
  }
  
  .menu-content {
    display: flex;
    background:  #3b5998;
    color: white;
    float: right;
    margin-top:2px;
  }
  
  .menu-content ul {
    display: block;
    padding-left: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease 0.7s, width 0.7s ease;
  }
  
  .menu-content ul li {
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
    transition: color 0.5s, background 0.5s;
  }
  
  .menu-content ul li:hover {
    color: #0CD6AD;
    background: #1E332F;
  }

  .checkbox-trigger {
    opacity: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    cursor: pointer;
    z-index: 5;
  }
  
  .hamburger-menu, .hamburger-menu::before, .hamburger-menu::after {
    display: block;
    position: absolute;
    background: white;
    width: 21px;
    height: 1px;
    margin: 1.3em 3em;
    transition: background 0.3s;
  }
  
  .hamburger-menu::before, .hamburger-menu::after {
    content: '';
    position: absolute;
    margin: -0.3em 0 0;
    transition: width 0.7s ease 0.3s, transform 0.7s ease 0.3s;
  }
  
  .hamburger-menu::after { margin-top: 0.3em; }
  
  .hamburger-menu {
    position: relative;
    display: block;
    margin: 0;
    margin-top: 1em;
    margin-right: 0.35em;
    margin-left: 0.35em;
    margin-bottom: 1em;
    transition: width 0.3s ease;
  }
  .checkbox-trigger:checked { right: 225px; }

.checkbox-trigger:checked + .menu-content .hamburger-menu {
  width: 2em;
  transition: width 0.7s ease 0.7s;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu::before {
  width: 1.2em;
  transform: rotate(-35deg);
  margin-top: -0.4em;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu::after {
  width: 1.2em;
  transform: rotate(35deg);
  margin-top: 0.4em;
}

.checkbox-trigger:checked + .menu-content ul {
  width: 220px;
  height: 350px;
  transition: width 0.7s ease 0.3s, height 0.3s ease;
}
.dropdown-menu {
    min-width: 240px !important;
}
  /* end CSS for Hamburger menu */

  /* For DatePicker CSS start*/
.mydp .selectorarrow {
  background: #FAFAFA;
  margin-top: 12px;
  padding: 0;
  width:203px !important;
  height:177px !important;
}
/* Date Picker CSS end */


/* start Animated Radio tab */

/* end Anlmated Radio tab */
  