body {
  padding-top: 50px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
/*Message*/
.messages {
width: 100%;
float: right;
}
.messages .item {
  width: 100%;
  float: right;
  margin-bottom: 10px;
  /*opacity: 0;
  filter: alpha(opacity = 0);*/
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  margin-right: 2px;/*atn*/
}
.messages .item in{
  width: 100%;
  float: right;
  margin-bottom: 10px;
  /*opacity: 0;
  filter: alpha(opacity = 0);*/
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  margin-left: 30px;/*atn*/
}
.messages .item .text {
  background: #f5f3f3;
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #D5D5D5;
}
.messages .item .text .heading {
  width: 100%;
  margin-bottom: 5px;
}
.messages .item .text .heading a {
  text-decoration: none;
  font-size: 12px;
  color: #1b1e24;
  font-weight: 600;
  line-height: 20px;
}
.messages.messages-img .item .image {
float: left;
width: 40px;
}
.messages.messages-img .item .image img {
border: 2px solid #F5F5F5;
border-radius: 20%;
width: 40px;
}
.messages.messages-img .item .text {
margin-left: 50px;
position: relative;
margin-right: 130px;
background-color: #fff;
}
.messages.messages-img .item .text:after,
.messages.messages-img .item .text:before {
right: 100%;
top: 20px;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.messages.messages-img .item .text:after {
border-color: rgba(255, 255, 255, 0);
border-right-color: #FFF;
border-width: 5px;
margin-top: -5px;
}
.messages.messages-img .item .text:before {
border-color: rgba(213, 213, 213, 0);
border-right-color: #D5D5D5;
border-width: 6px;
margin-top: -6px;
}
.messages.messages-img .item.in .image {
float: right;
}
.messages.messages-img .item.in .text {
  margin-left: 130px;
  margin-right: 50px;
  background-color: #AFE1F5;
}
.messages.messages-img .item.in .text {
  margin-left: 130px;
  margin-right: 50px;
  background-color: #AFE1F5;
}
.messages.messages-img .item.in .text:after,
.messages.messages-img .item.in .text:before {
right: auto;
left: 100%;
}
.messages.messages-img .item.in .text:after {
border-right-color: transparent;
border-left-color: #FFF;
}
.messages.messages-img .item.in .text:before {
border-right-color: transparent;
border-left-color: #D5D5D5;
}
/*Panel*/
 .panel.panel-default {
  border-top-color: #F5F5F5;
  border-top-width: 1px;
}
.panel {
  float: left;
  width: 100%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
  border-top: 2px solid #E5E5E5;
  margin-bottom: 20px;
  position: relative;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.panel.panel-default {
  border-top-color: #F5F5F5;
  border-top-width: 1px;
}
.panel .panel-body {
  float: left;
  width: 100%;
} 
.panel .panel-body.panel-body-search {
  padding: 5px;
}
.messages .item .text .heading .date {
  float: right;
  line-height: 20px;
  font-size: 11px;
  /*color: #CCC;*/
  font-weight: 600;
}
.dateformat {
  float: right;
  line-height: 20px;
  font-size: 11px;
  /*color: #CCC;*/
  font-weight: 600;
}
.msg-image {
  /* width: 120px;
  height: 100%; */
  max-width: 30%;
  border-radius: 5px;
}
.line-breaker {
  white-space: pre-line;
  /* width: 120px; */
}
.profileimage {
  float: left;
  width: 40px;
  }
.profileimage img {
  border: 2px solid #F5F5F5;
  border-radius: 20%;
  width: 40px;
  }
  .x-navigation li.active > a {
    background: none repeat scroll 0% 0% rgb(28, 175, 154);
    color: rgb(255, 255, 255);
  }
  .clearfix {
    zoom: 1;
  }
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }